.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Salutem/v15/Server/sqlite3/storage.ide-wal
.vs/Salutem/v15/Server/sqlite3/storage.ide-shm
.vs/Salutem/v15/Server/sqlite3/storage.ide
.vs/Salutem/v15/Server/sqlite3/db.lock
.vs/ProjectSettings.json
SalutemDomain/obj/Release/netstandard2.0/SalutemDomain.csproj.CoreCompileInputs.cache
SalutemDomain/obj/Release/netstandard2.0/SalutemDomain.AssemblyInfoInputs.cache
Domain/obj/Release/netstandard2.0/Domain.AssemblyInfo.cs
Data/obj/Release/netstandard2.0/SalutemData.csprojAssemblyReference.cache
Data/obj/Release/netstandard2.0/SalutemData.csproj.CoreCompileInputs.cache
Data/obj/Release/netstandard2.0/SalutemData.AssemblyInfoInputs.cache
Data/obj/Release/netstandard2.0/SalutemData.AssemblyInfo.cs
Business/obj/Release/netstandard2.0/SalutemBusiness.csproj.CoreCompileInputs.cache
Business/obj/Release/netstandard2.0/SalutemBusiness.AssemblyInfoInputs.cache
Business/obj/Release/netstandard2.0/SalutemBusiness.AssemblyInfo.cs
AppointmentData/obj/Release/netstandard2.0/AppointmentData.csproj.CoreCompileInputs.cache
AppointmentData/obj/Release/netstandard2.0/AppointmentData.AssemblyInfoInputs.cache
AppointmentData/obj/Release/netstandard2.0/AppointmentData.AssemblyInfo.cs
SalutemDomain/obj/Release/netstandard2.0/SalutemDomain.AssemblyInfo.cs
SalutemData/obj/Release/netstandard2.0/SalutemData.csproj.CoreCompileInputs.cache
SalutemData/obj/Release/netstandard2.0/SalutemData.AssemblyInfoInputs.cache
SalutemData/obj/Release/netstandard2.0/SalutemData.AssemblyInfo.cs
SalutemBusiness/obj/Release/netstandard2.0/SalutemBusiness.csproj.CoreCompileInputs.cache
SalutemBusiness/obj/Release/netstandard2.0/SalutemBusiness.AssemblyInfoInputs.cache
SalutemBusiness/obj/Release/netstandard2.0/SalutemBusiness.AssemblyInfo.cs
Salutem/obj/Release/Salutem.csprojAssemblyReference.cache
Salutem/obj/Release/Salutem.csproj.CoreCompileInputs.cache
Domain/obj/Release/netstandard2.0/Domain.csproj.CoreCompileInputs.cache
Domain/obj/Release/netstandard2.0/Domain.AssemblyInfoInputs.cache
SalutemData/obj/SalutemData.csproj.nuget.g.props
SalutemData/obj/SalutemData.csproj.nuget.cache
SalutemData/obj/Debug/netstandard2.0/SalutemData.csprojAssemblyReference.cache
SalutemBusiness/obj/Debug/netstandard2.0/SalutemBusiness.csproj.CoreCompileInputs.cache
.vs/Salutem/v15/.suo
SalutemBusiness/obj/project.assets.json
SalutemBusiness/obj/SalutemBusiness.csproj.nuget.g.props
SalutemBusiness/obj/SalutemBusiness.csproj.nuget.cache
SalutemBusiness/obj/Debug/netstandard2.0/SalutemBusiness.csprojAssemblyReference.cache
SalutemDomain/obj/SalutemDomain.csproj.nuget.cache
SalutemDomain/obj/Debug/netstandard2.0/SalutemDomain.csprojAssemblyReference.cache
SalutemDomain/obj/Debug/netstandard2.0/SalutemDomain.csproj.CoreCompileInputs.cache
SalutemData/obj/project.assets.json
Salutem/obj/Debug/Salutem.csproj.CoreCompileInputs.cache
.vs/config/applicationhost.config
SalutemDomain/obj/project.assets.json
SalutemData/obj/Debug/netstandard2.0/SalutemData.csproj.CoreCompileInputs.cache
Salutem/obj/Debug/Salutem.csprojAssemblyReference.cache
SalutemDomain/obj/SalutemDomain.csproj.nuget.g.props
